:root {
    /* COLORS */

    --clr-main: #040404;
    --clr-secondary:#D7D9CE;
    --clr-accent-100:#9FFFF5;
    --clr-accent-200:#7CFFC4;
    --clr-accent-300: #6ABEA7;

    /* TYPOGRAPHY */

    --ff-primary: 'Oxygen', sans-serif;

    --fw-light: 300;
    --fw-regular:400;
    --fw-bold: 700;

    --fs-100:16px;
    --fs-125:18px;
    --fs-150:24px;
    --fs-225:36px;
    --fs-300:48px;
}

*,
::before,
::after {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: var(--fs-100);
    font-family: var(--ff-primary);
    font-size:var(--fs-125);
    font-weight: var(--fw-regular);
}

.flex-container {
    padding:10%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    text-align: center;
}

.hidden {
    display:none;
}

.game-header {
    display:flex;
    width:50%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game-text {
    margin-top:.75rem;
    flex:1 0 100%;
}

.round-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    width:80%;
}

.user-choices {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.75rem;
}

.btn {
    padding:.75rem;
    width:150px;
    border-radius:8px;
    border-style: none;
}

.btn:hover {
    transform: scale(1.1);

}

.running-total-container {
    width:50%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

@media screen and (max-width: 650px ){ 
    .running-total-container {
    max-width:min-content;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    gap:.5rem;
    }
    
}

/* -------------------------
UTILITY CLASS SELECTORS 
------------------------- */

/* COLORS */
.clr-bg-main {
background-color: var(--clr-main);
}
.clr-bg-secondary {
    background-color: var(--clr-secondary);
}
.clr-main {
    color: var(--clr-main);
}
.clr-secondary {
    color: var(--clr-secondary);
}
.clr-accent-100 {
    color: var(--clr-accent-100);
}
.clr-accent-200 {
    color: var(--clr-accent-200);
}
.clr-accent-300 {
    color: var(--clr-accent-300);
}

/* FONT WEIGHT */
.fw-light {
    font-weight:300;
}
.fw-regular {
    font-weight:400;
}
.fw-bold {
    font-weight:700;
}

/* FONT SIZE */
.fs-100 {
    font-size:16px;
}
.fs-125 {
    font-size:18px;
}
.fs-150 {
    font-size:24px;
}
.fs-225 {
    font-size:36px;
}
.fs-300 {
    font-size:48px;
}
