*,
::before,
::after {
    margin:0;
    padding:0;
}
body {
    background-color: thistle;
}
h1 {
    font-size: 48px;;
}

p {
    font-size: 18px;;
}

.flex-container{
    margin-top:20px;
    margin-left: auto;
    margin-right:auto;
    padding-left:100px;
    padding-right:100px;
    display: flex;
    justify-content:center;
    gap:50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width:600px;
    height:300px;
    background-color: lightcoral;
}

span {
    font-weight: bold;
}